<a href="accueil" class="pure-menu-heading"><img src="assets/images/akenny.png" /><span>aKenny's player</span></a>

<ul class="heigth-100p">
	<li id="menu-accueil-view">
		<a href="accueil">
			<p><i class="fa fa-home fa-2x"></i></p>
			{{ locale "accueil" }}
		</a>
	</li>
	<li id="menu-music-view" class="limited">
		<a href="music">
			<p><i class="fa fa-music fa-2x"></i></p>
			{{ locale "musique" }}
		</a>
	</li>
	<li id="menu-player-view" class="limited">
		<a href="player">
			<p><i class="fa fa-headphones fa-2x"></i></p>
			{{ locale "lecteur" }}
		</a>
	</li>
	<li id="menu-settings-view">
		<a href="settings">
			<p><i class="fa fa-cogs fa-2x"></i></p>
			{{ locale "parametres" }}
		</a>
	</li>
	<li id="menu-propos-view">
		<a href="">
			<p><i class="fa fa-question fa-2x"></i></p>
			{{ locale "a propos" }}
		</a>
	</li>
</ul>

