	<a href="accueil" class="pure-menu-heading">Subsonic music</a>

	<ul>
		<li id="menu-accueil-view"><a href="accueil"><i class="fa fa-home"></i>{{ locale "accueil" }}</a></li>
		<li id="menu-music-view" class="limited"><a href="music"><i class="fa fa-music"></i>{{ locale "musique" }}</a></li>
		<li class="limited"><a href="#test"><i class="fa fa-headphones"></i>{{ locale "lecteur" }}</a></li>
		<li id="menu-settings-view"><a href="settings"><i class="fa fa-cogs"></i>{{ locale "parametres" }}</a></li>
		<li id="menu-propos-view"><a href=""><i class="fa fa-question"></i>{{ locale "a propos" }}</a></li>
	</ul>